<h1 class='font-semibold text-lg mb-2'>Chatrooms</h1>
<div class="grid grid-cols-4 gap-1 mb-2">
    <div class='h-32 bg-stone-300 rounded'></div>
    <div class='h-32 bg-stone-300 rounded'></div>
    <div class='h-32 bg-stone-300 rounded'></div>
    <div class='h-32 bg-stone-300 rounded'></div>
</div>
<h1 class='font-semibold text-lg mb-2'>Direct messages</h1>
<div class='grid lg:grid-cols-2 gap-2'>
    <a routerLink="/chat/1">
        <div class='cursor-pointer grid grid-cols-[auto_1fr_auto] gap-4 bg-stone-200 px-2 py-4 rounded'>
            <div class='h-12 w-12 bg-stone-400 rounded-full'></div>
            <div>
                <h2 class='font-semibold'>Alice</h2>
                <p class='text-sm text-neutral-700'>Last message</p>
            </div>
            <div class='p-2 cursor-pointer'>
                <span class="material-symbols-rounded text-neutral-700">
                    more_horiz
                </span>
            </div>
        </div>
    </a>
</div>