<div class='lg:grid grid-cols-[auto_1fr] items-center gap-2'>
    <h1 class='font-semibold mb-2 text-center'>Connect with the World: Join the Global Rooms!</h1>
    <div class='flex justify-between gap-1'>
        <div
            class="w-full flex items-center mb-1 gap-1 bg-gray-100 dark:bg-zinc-800 border border-gray-300 dark:border-zinc-700 rounded-full p-2">
            <input (input)='onSearch($event)' type="text"
                class="w-full px-1 lg:px-2 text-sm font-semibold text-neutral-900 dark:text-neutral-300 bg-transparent"
                placeholder="Search for a chat you want to join!" />

            <svg class="w-4 h-4 text-neutral-800 dark:text-zinc-500" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
        </div>

        <div (click)="onCreateChat()" class='cursor-pointer flex justify-center items-center'>
            <span
                class="material-symbols-rounded hover:bg-neutral-200 dark:hover:bg-neutral-800 rounded-full p-1 transition duration-300">
                add_circle
            </span>
        </div>
    </div>
</div>

<div class="grid grid-cols-4 gap-1 mb-2">
    <div *ngFor='let chat of chats' class='relative'>
        <div *ngIf='chat.authorName === currentUsername' (click)='onEdit(chat)' class='absolute top-0 right-0 p-2'>
            <span
                class="material-symbols-rounded cursor-pointer text-neutral-700 dark:text-neutral-300 hover:bg-neutral-200/50 dark:hover:bg-neutral-700/50 rounded-full transition duration-300">
                edit
            </span>
        </div>

        <a routerLink="{{chat.id}}"
            class='cursor-pointer text-center h-32 bg-neutral-200 hover:bg-neutral-300 dark:bg-neutral-800 dark:hover:bg-neutral-900 transition duration-300 rounded flex flex-col justify-center items-center'>
            <h2 class='font-semibold'>{{chat.name}}</h2>
            <p>{{chat.description}}</p>
        </a>
    </div>
</div>

<app-invitations></app-invitations>
<app-edit-chat></app-edit-chat>