<li class="mt-10 mb-5">
    <a href="/admin" class='flex items-center justify-center text-xl'>
        <span class="material-symbols-rounded text-purple-400"> bolt </span>
        <h1 class="uppercase font-semibold tracking-wider">Fanpage Admin</h1>
    </a>
</li>
<li class="bg-neutral-800/50 transition duration-300">
    <a href="/admin"
        class="flex items-center gap-3 px-6 py-3 text-[1.1rem] active border-l-2 border-blue-500 text-blue-500">
        <span class="material-symbols-rounded">
            keyboard_keys
        </span> Logging History
    </a>
</li>
<li class="hover:bg-neutral-800/50 transition duration-300">
    <a href="/admin/users" class="flex items-center gap-3 px-6 py-3 text-[1.1rem] border-l-2 border-transparent">
        <span class="material-symbols-rounded">
            group
        </span>
        User Control
    </a>
</li>
<li class="hover:bg-neutral-800/50 transition duration-300">
    <a href="/admin/tags" class="flex items-center gap-3 px-6 py-3 text-[1.1rem] border-l-2 border-transparent">
        <span class="material-symbols-rounded"> sell </span>Tags Management</a>
</li>