<app-modal modalId="friendsModal" title='{{ type | uppercase }}'>

    <div class='grid md:grid-cols-2 gap-2'>
        <div *ngFor='let person of people'
            class='grid grid-cols-[auto_1fr_auto] items-center gap-3 p-2 rounded-lg bg-neutral-50 dark:bg-neutral-900'>
            <img [src]="person.userAvatar | imageNormalize" alt="User Friend"
                class="rounded-full h-10 w-10 md:h-12 md:w-12 object-cover">
            <div>
                <h3 class='font-medium'>
                    {{ person.friendName }}
                </h3>
            </div>
            <div>
                <span appDropdown
                    class="material-symbols-rounded cursor-pointer p-1 hover:bg-neutral-100 dark:hover:bg-neutral-700  transition duration-300 rounded-full">
                    more_horiz
                </span>
                <ul
                    class='absolute drop-shadow-lg p-1 opacity-0 -z-10 bg-stone-200 dark:bg-neutral-800 rounded transition duration-300 -translate-x-5 before:transition before:duration-200 before:absolute before:content-[""] before:-top-1 before:left-1/2 md:before:left-3 before:w-4 before:h-4 before:bg-stone-200 dark:before:bg-neutral-800 before:rounded before:rotate-45'>
                    <li routerLink="/user/{{ person.friendName }}"
                        class='cursor-pointer hover:bg-stone-100 dark:hover:bg-neutral-700 px-1 py-1 rounded flex gap-1 items-center text-sm'>
                        <span class="material-symbols-rounded text-xl">face</span>
                        Go to profile
                    </li>
                    <li (click)="onRemove(person)"
                        class='cursor-pointer hover:bg-stone-100 dark:hover:bg-neutral-700 px-1 py-1 rounded flex gap-1 items-center text-sm'>
                        <span class="material-symbols-rounded text-xl">close</span>
                        Remove
                    </li>
                </ul>
            </div>
        </div>
    </div>

</app-modal>