<section>
    <h1 class="text-lg md:text-xl font-semibold ml-2">
        {{title}} <span class='text-rose-500'> {{accentText}} </span>
    </h1>
    <div class='w-full'>
        <swiper-container appSwiperResponsive space-between='10' autoplay='true'>
            <swiper-slide lazy="true" *ngFor='let book of books'>
                <a routerLink='/books/{{book.id}}' class="max-w-[30rem] cursor-pointer">
                    <div class="flex flex-cols drop-shadow-lg p-2">
                        <img loading="eager"
                            class="object-cover h-[15rem] md:h-[20rem] w-[10rem] md:w-[15rem] rounded-l-xl cursor-pointer transition duration-300"
                            [src]="book.image | imageNormalize" alt="Book" />
                        <div
                            class="h-[15rem] md:h-[20rem] bg-neutral-100 p-3 rounded-r-xl grid grid-rows-[1fr_auto] gap-1">
                            <div>
                                <h2
                                    class="md:text-lg font-semibold cursor-pointer hover:underline transition duration-300">
                                    {{book.title}}
                                </h2>
                                <h3
                                    class="text-sm md:text-base text-sky-800 font-semibold cursor-pointer hover:text-sky-900 transition duration-300">
                                    by {{book.authorName}}
                                </h3>
                                <p class="text-sm text-neutral-500 line-clamp-3 md:line-clamp-5">
                                    {{book.description}}
                                </p>
                            </div>
                            <div>
                                <div class="flex flex-wrap gap-1 text-sm">
                                    <p *ngFor="let category of book.categories"
                                        class="text-sm text-neutral-600 bg-neutral-200 rounded-xl px-2 py-1 cursor-pointer hover:bg-neutral-300 transition duration-300">
                                        {{category.name}}
                                    </p>
                                    <p *ngFor="let tag of book.tags"
                                        class="text-sm text-neutral-600 bg-neutral-200 rounded-xl px-2 py-1 cursor-pointer hover:bg-neutral-300 transition duration-300">
                                        {{tag.name}}
                                    </p>
                                    <p class="text-sm text-neutral-700 pl-1 pt-1">
                                        +2 more
                                    </p>
                                </div>
                                <div class="text-sm text-neutral-500 flex items-center justify-end gap-[2px]">
                                    <span class="text-xl material-symbols-rounded">
                                        star
                                    </span>
                                    <p class="font-semibold">4.4</p>
                                    <span class="text-xl material-symbols-rounded pl-[4px]">
                                        visibility
                                    </span>
                                    <p class="font-semibold">100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </swiper-slide>
        </swiper-container>
    </div>
</section>