<app-modal modalId="banModal" title='Ban user'>
    <form [formGroup]="banForm" (ngSubmit)='onSubmit()'>
        <label for='days' class="text-slate-400 mt-2">
            You are about to delete a user. This action is irreversible.
        </label>
        <input type="number" name='days' id='days'
            class='p-2 rounded-md border dark:bg-slate-600 border-slate-300 w-full bg-slate-200 focus:border-blue-300 transition duration-200' />
        <button type='submit'
            class='mt-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md transition duration-200'>
            Save Changes
        </button>
    </form>
</app-modal>