@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus {
  outline: none;
}

input,
textarea,
select {
  background-color: rgba(247, 245, 255, 0.589);
}

body {
  background-color: #eee;
}

.font-open-sans > * {
  font-family: "Open Sans", sans-serif;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

/* Dropdown animation */

.open {
  animation: slideInX 0.3s ease-in-out;
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

.open::before {
  z-index: -1;
}

@keyframes slideInX {
  from {
    transform: translateX(-1.25rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1.25rem);
  }
}
