<app-modal modalId='chatFormModal' title='Creating a Chat Room'>
    <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
        <div class='grid md:grid-cols-2 gap-2'>
            <div (click)="chatForm.get('type')?.setValue('public')"
                [ngClass]="{'bg-slate-300 dark:bg-slate-600': chatForm.get('type')?.value === 'public'}"
                class='cursor-pointer grid grid-cols-[auto_1fr] gap-1 px-2 py-4 bg-slate-200 dark:bg-neutral-900 hover:bg-slate-300 dark:hover:bg-neutral-700 rounded transition duration-300'>
                <span class="material-symbols-rounded text-3xl">
                    public
                </span>
                <div>
                    <h2 class='font-semibold'>Public</h2>
                    <p class='text-sm'>Anyone can join</p>
                </div>
            </div>
            <div (click)="chatForm.get('type')?.setValue('private')"
                [ngClass]="{'bg-slate-300 dark:bg-slate-700': chatForm.get('type')?.value === 'private'}"
                class='cursor-pointer grid grid-cols-[auto_1fr] gap-1 px-2 py-4 bg-slate-200 dark:bg-neutral-900 hover:bg-slate-300 dark:hover:bg-neutral-700 rounded transition duration-300'>
                <span class="material-symbols-rounded text-3xl">
                    visibility_lock
                </span>
                <div>
                    <h2 class='font-semibold'>Private</h2>
                    <p class='text-sm'>Only invited users can join</p>
                </div>
            </div>
        </div>

        <div class='mt-4'>
            <label for='name' class='font-medium'>Name</label>
            <input formControlName='name' id='name' placeholder="Enter a name for your chatroom"
                class='p-2 rounded-md border border-slate-300 w-full bg-slate-200 dark:bg-neutral-900 dark:border-neutral-700 focus:border-blue-300 transition duration-200' />
        </div>

        <div class='mt-4'>
            <label for='description' class='font-medium'>Description</label>
            <input formControlName='description' id='description' placeholder="Enter a description for your chatroom"
                class='p-2 rounded-md border border-slate-300 w-full bg-slate-200 focus:border-blue-300 dark:bg-neutral-900 dark:border-neutral-700 transition duration-200' />
        </div>

        <div class='mt-4'>
            <label for='name' class='font-medium'>Select the users you want to invite to this chat</label>
            <app-companions formControlName='usernames'></app-companions>
        </div>

        <button type='submit'
            class='mt-4 p-2 w-full rounded-md border border-blue-300 bg-blue-200 hover:bg-blue-300 dark:hover:bg-sky-800 dark:bg-sky-900 dark:border-sky-800 transition duration-300'>
            Create
        </button>
    </form>
</app-modal>