<section class='my-4 px-4 md:px-8 lg:px-10'>
    <h1 class='text-lg md:text-2xl font-medium'>User Control</h1>
    <p class='flex text-slate-400 my-6'>
        <span class="material-symbols-rounded">
            shield_person
        </span>
        <span class="material-symbols-rounded">
            keyboard_arrow_right
        </span>
        <span class='text-base'>User Control</span>
    </p>
    <table class="mt-2 w-full text-sm text-left rtl:text-right text-zinc-500 dark:text-zinc-400">
        <thead class="text-xs text-zinc-700 uppercase bg-zinc-50 dark:bg-zinc-600/50 dark:text-zinc-300">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Role
                </th>
                <th scope="col" class="px-6 py-2">
                    <div class="flex items-center gap-1 border border-zinc-600 rounded-full px-5">
                        <input (input)='onSearch($event)' type="text"
                            class="w-full p-2 text-sm font-semibold text-zinc-400 bg-transparent"
                            placeholder="Enter username" required />
                        <svg class="cursor-pointer hover:text-zinc-200 w-4 h-4 text-zinc-500" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf='user' class="bg-white border-b dark:bg-zinc-800 dark:border-zinc-700">
                <th scope="row" class="px-6 py-4 font-medium text-zinc-800 whitespace-nowrap dark:text-white">
                    {{user.name}}
                </th>
                <td [ngClass]="{'text-rose-500': user.whoBan !== 'None'}" class="px-6 py-4">
                    {{user.whoBan === 'None' ? 'Not banned' : 'Banned by ' + user.whoBan}}
                </td>
                <td class="px-6 py-4 text-white hover:text-slate-200">
                    <select (change)='onSelectRole($event, user)' name="role" id="role"
                        class='bg-transparent p-1 cursor-pointer'>
                        <option [selected]="user.role === 'Admin'" value="Admin" class='bg-neutral-600'>Admin</option>
                        <option [selected]="user.role === 'User'" value="User" class='bg-neutral-600'>User</option>
                    </select>
                </td>
                <td class='pt-3 flex items-center justify-center gap-2'>
                    <div (click)="onBan(user, user.whoBan === 'None' ? false : true)"
                        class=" text-slate-400 flex gap-1 items-center justify-center font-medium cursor-pointer hover:text-slate-500 transition duration-200">
                        <span class="material-symbols-rounded">
                            lock_reset
                        </span>
                        {{user.whoBan === 'None' ? 'Ban' : 'Unban'}}
                    </div>
                    <div (click)="onDelete(user.id)"
                        class="text-rose-500 flex gap-1 items-center justify-center font-medium cursor-pointer hover:text-rose-600 transition duration-200">
                        <span class="material-symbols-rounded cursor-pointer">
                            close
                        </span>
                        Delete
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<app-ban-modal [userChanged]='selectedUserChanged'></app-ban-modal>