<div *ngIf='isAuthenticated' class='relative'>
    <div appDropdown>
        <span class="material-symbols-rounded dark:text-neutral-400 flex self-center cursor-pointer">
            notifications
        </span>
        <span *ngIf='notifications.length > 0'
            class="absolute bottom-0 h-6 w-6 rounded-full font-medium text-center text-blue-600 dark:text-blue-400 bg-slate-300 bg-opacity-95 translate-y-2 translate-x-2 transform scale-75">
            {{notifications.length}}
        </span>
    </div>
    <ul
        class='drop-shadow-lg px-2 py-2 opacity-0 -z-1 mt-2 absolute right-0 bg-stone-200 dark:bg-neutral-800 rounded transition duration-300 before:transition before:duration-200 before:absolute before:content-[""] before:-top-1 before:right-1 md:before:right-2 before:w-4 before:h-4 before:bg-stone-200 dark:before:bg-neutral-800 before:rounded before:rotate-45 w-64'>
        <li *ngFor='let notif of notifications'
            class='cursor-pointer grid grid-cols-[1fr_auto] gap-3 items-center bg-stone-300 hover:bg-stone-100 dark:bg-neutral-700 dark:hover:bg-zinc-700 px-1 py-1 rounded'>
            <div>
                <h1 class='font-medium text-sm'>New message from {{notif.userName}}</h1>
                <p class='text-xs'>{{notif.content}}</p>
            </div>
            <span class='text-xs'>
                {{notif.receivedDateUtc | date: 'shortTime'}}
            </span>
        </li>
        <li *ngIf='notifications.length === 0'>
            <p class='text-center text-sm px-1 py-1'>No notifications yet</p>
        </li>
    </ul>

</div>