<section class="mb-5 p-3 flex items-center justify-center gap-2 md:gap-5">
    <div>
        <h1 class='md:text-2xl font-medium whitespace-pre-line'>Do you want to tell others your story?</h1>
        <p class='text-sm md:text-base'>Start writing on your own <span class='text-emerald-500'>free</span></p>
    </div>
    <a routerLink="/books/new"
        class='font-medium py-2 md:py-3 lg:mr-10 whitespace-nowrap px-5 bg-blue-200 dark:bg-slate-800 flex items-center justify-center gap-1 md:text-lg rounded-md border border-transparent hover:bg-blue-300 hover:border-blue-200 dark:hover:bg-slate-800/75 dark:hover:border-slate-800 transition duration-200'>
        Write now
        <span class="material-symbols-rounded">
            start
        </span>
    </a>
</section>
<app-books-swiper></app-books-swiper>
<app-books-swiper bookType="latest" title="The" accentText="latest"></app-books-swiper>