<app-modal modalId="authModal" [title]="isLoginMode ? 'Sign In' : 'Sign Up'"
    [description]="isLoginMode ? 'Login into account!' : 'Join the community today!'">
    <app-google [isLogin]='isLoginMode'></app-google>

    <app-login *ngIf='isLoginMode'></app-login>
    <app-registration *ngIf='!isLoginMode'></app-registration>

    <p (click)='onSwitchMode()' class='cursor-pointer text-sm text-center text-neutral-600'>
        {{ isLoginMode ? 'Don\'t' : 'Already' }}
        have an account?
        <span class='font-medium text-purple-500 hover:text-purple-600 transition duration-200'>
            {{ isLoginMode ? 'Sign up' : 'Sign in' }}
        </span>
    </p>
</app-modal>