<li *ngIf='!isAdmin'>
    <swiper-container pagination='true' autoplay='true' class="mt-7 mx-4">
        <swiper-slide class='bg-neutral-700 rounded p-2 mb-8'>
            <img class='mb-2 rounded' src="https://picsum.photos/300" alt="AD">
            <p class='mb-1 leading-relaxed text-neutral-100 text-sm font-semibold text-center uppercase'>
                Upgrade to
                gain
                access to
                <span class='text-purple-400'>
                    exlusive features </span>:
            </p>
            <ul class='leading-loose text-neutral-200 text-sm pl-4 pb-2 list-disc list-inside'>
                <li> <span class='relative -left-2'>unlock gifs</span></li>
                <li> <span class='relative -left-2'>lorem ipsum dolor</span></li>
                <li> <span class='relative -left-2'>lorem ipsum dolor</span></li>
            </ul>
        </swiper-slide>
        <swiper-slide class='bg-neutral-700 rounded p-2'>
            <img class='mb-2 rounded' src="https://picsum.photos/300" alt="AD">
            <p class='mb-1 leading-relaxed text-neutral-100 text-sm font-semibold text-center uppercase'>
                Upgrade to
                gain
                access to
                <span class='text-purple-400'>
                    exlusive features </span>:
            </p>
            <ul class='leading-loose text-neutral-200 text-sm pl-4 pb-2 list-disc list-inside'>
                <li> <span class='relative -left-2'>unlock gifs</span></li>
                <li> <span class='relative -left-2'>lorem ipsum dolor</span></li>
                <li> <span class='relative -left-2'>lorem ipsum dolor</span></li>
            </ul>
        </swiper-slide>
        <div class="swiper-pagination"></div>
    </swiper-container>
</li>