<h1 class='text-lg lg:text-2xl font-semibold md:mb-4'>Personalization</h1>
<div class='md:grid grid-cols-3 w-full gap-1'>
    <div class='pl-1 my-2'>
        <label for='username' class='text-lg font-medium mb-2'>Username</label>
        <button (click)="openModal('changeUsernameModal')"
            class='flex items-center justify-center gap-1 font-medium p-2 rounded-md border border-blue-200 hover:bg-blue-200 w-full bg-blue-100 dark:bg-zinc-800 dark:hover:bg-zinc-700 dark:border-none transition duration-300'>
            Change Username
            <span class="material-symbols-rounded">
                login
            </span>
        </button>
        <p class='text-sm text-stone-700 dark:text-stone-300 mt-2'>
            Enter a unique username that will represent you across the platform.
        </p>
    </div>

    <div class='pl-1 my-2'>
        <label for='email' class='text-lg font-medium mb-2'>Email</label>
        <button (click)="openModal('changeEmailModal')"
            class='flex items-center justify-center gap-1 font-medium p-2 rounded-md border border-blue-200 hover:bg-blue-200 w-full bg-blue-100 dark:bg-zinc-800 dark:hover:bg-zinc-700 dark:border-none transition duration-300'>
            Change Email
            <span class="material-symbols-rounded">
                login
            </span>
        </button>
        <p class='text-sm text-stone-700 dark:text-stone-300 mt-2'>
            Your email is used for login and notifications. Make sure it's up to date.
        </p>
    </div>
    <div class='pl-1 my-2'>
        <label for='password' class='text-lg font-medium mb-2'>Password</label>
        <button (click)="openModal('changePasswordModal')"
            class='flex items-center justify-center gap-1 font-medium p-2 rounded-md border border-blue-200 hover:bg-blue-200 w-full bg-blue-100 dark:bg-zinc-800 dark:hover:bg-zinc-700 dark:border-none transition duration-300'>
            Change Password
            <span class="material-symbols-rounded">
                login
            </span>
        </button>
        <p class='text-sm text-stone-700 dark:text-stone-300 mt-2'>
            Keep your account secure by changing your password regularly.
        </p>
    </div>
</div>

<hr class='my-2 dark:border-zinc-800'>

<div>
    <h2 class='text-lg font-medium mb-2'>Theme</h2>
    <p class='text-sm text-stone-700 dark:text-stone-300 mt-2 mb-3'>Choose a theme that suits your style.</p>
    <app-theme-change></app-theme-change>
</div>

<hr class='my-2 dark:border-zinc-800'>

<div class='pl-1'>
    <h2 class='text-lg font-medium mb-2'>Avatar & Profile Cover Images</h2>
    <p class='text-sm text-stone-700 dark:text-stone-300 mt-2 mb-3'>Personalize your profile with an avatar and a
        cover
        image.
        Your avatar is a small image that represents you across the
        platform, visible to other users. Upload a clear and recognizable image of yourself or
        choose an icon that reflects your
        personality. The profile cover image is a larger banner that adds a unique touch to your
        profile page. Upload an image
        that resonates with your interests or showcases your individuality.</p>
    <div class='rounded'>
        <!-- <img class='max-h-[8rem] md:max-h-[13rem] object-cover object-center w-full rounded'
                                                src="https://picsum.photos/800" alt="User Cover"> -->
        <div
            class='h-[5rem] md:h-[10rem] bg-stone-300 w-full rounded hover:bg-stone-400 transition duration-300 cursor-pointer'>
        </div>
    </div>
    <div class='grid sm:grid-cols-[25%_1fr] px-3'>
        <img class='transform -translate-y-10 md:-translate-y-16 rounded-full h-20 w-20 md:h-32 md:w-32 object-cover mx-auto border-4 border-neutral-100 dark:border-neutral-800 cursor-pointer'
            src="https://picsum.photos/400" alt="User">
    </div>
</div>

<app-username-change-modal></app-username-change-modal>
<app-email-change-modal></app-email-change-modal>
<app-password-change-modal></app-password-change-modal>