<app-modal modalId="changeEmailModal" title="Changing email..."
    description="Please enter the email you want to go with">
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <input formControlName='email' type='email' placeholder="Email" autocomplete='email'
            class='mt-5 p-2 rounded-md border border-slate-300 w-full bg-slate-200 focus:border-blue-300 transition duration-200' />
        <div [ngClass]="{'opacity-100': emailForm.get('email')?.invalid && emailForm.get('email')?.touched}"
            class="opacity-0 cursor-default transition duration-300 text-sm text-red-500 rounded px-2">
            <span>Please enter valid email</span>
        </div>
        <p class='text-sm text-stone-700'>
            This email will be used for important communications,
            such as account recovery and notifications.
        </p>

        <div class='mt-4 flex justify-end'>
            <button type='submit' [disabled]='emailForm.invalid' [ngClass]="{'opacity-50': emailForm.invalid}"
                class='bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md transition duration-200'>
                Save Changes
            </button>
        </div>
    </form>
</app-modal>