<section *ngIf="!isLoading" class='transform -translate-y-10 md:-translate-y-16 px-3'>
    <img class='rounded-full h-20 w-20 md:h-32 md:w-32 object-cover mx-auto border-4 border-neutral-100'
        [src]="user?.avatar| imageNormalize" alt="User">
    <button *ngIf='!isCurrentUser' (click)="onFollow()"
        class='mx-auto mt-4 w-[90%] py-2 md:px-4 bg-slate-500 hover:bg-slate-600 rounded text-white text-sm md:text-base font-medium tranistion duration-300 flex gap-1 items-center justify-center'>
        <span class="material-symbols-rounded">
            {{ friendType === 'following' || friendType === 'mutual' ? 'person_cancel' : 'person_add' }}
        </span>
        {{ friendType === 'following' || friendType === 'mutual' ? 'Unfollow' : 'Follow' }}
    </button>
    <p *ngIf="friendType === 'follower'" class='mt-2 text-green-500 px-auto text-sm font-medium flex justify-center'>
        Following you
    </p>
    <p *ngIf="friendType === 'mutual'" class='mt-2 text-blue-500 px-auto text-sm font-medium flex justify-center'>
        Mutuals
    </p>
    <div class='ml-5 mt-4'>
        <div *ngIf='isCurrentUser' class='flex flex-wrap justify-around gap-1'>
            <div (click)="showFriendsModal('followers')"
                class="grid justify-center items-center cursor-pointer hover:bg-neutral-50 p-1 transition duration-300 rounded-md">
                <p class='uppercase text-sm hidden sm:block xl:hidden'>flwrs</p>
                <p class='uppercase text-sm sm:hidden xl:block'>followers</p>
                <span class='text-blue-500 text-xl font-medium text-center'>50</span>
            </div>

            <div (click)="showFriendsModal('mutuals')"
                class="grid justify-center items-center cursor-pointer hover:bg-neutral-50 p-1 transition duration-300 rounded-md">
                <p class='uppercase text-sm hidden sm:block xl:hidden'>mtls</p>
                <p class='uppercase text-sm sm:hidden xl:block'>mutuals</p>
                <span class='text-blue-500 text-xl font-medium text-center'>24</span>
            </div>

            <div (click)="showFriendsModal('following')"
                class="grid justify-center items-center cursor-pointer hover:bg-neutral-50 p-1 transition duration-300 rounded-md">
                <p class='uppercase text-sm hidden sm:block xl:hidden'>flwng</p>
                <p class='uppercase text-sm sm:hidden xl:block'>following</p>
                <span class='text-blue-500 text-xl font-medium text-center'>5</span>
            </div>
        </div>


        <hr class='my-3'>

        <p class='uppercase text-sm'>performance</p>
        <div class='flex sm:block lg:flex items-center gap-2'>
            <p class='text-blue-500 text-xl font-medium'>14
                <span class='text-sm font-medium text-emerald-800'>works </span>
                <span class='text-sm text-slate-700'>and</span>
            </p>

            <p class='text-blue-500 text-xl font-medium'>43
                <span class='text-sm font-medium text-amber-700'>reviews</span>
            </p>
        </div>
    </div>
</section>