<div class='grid grid-cols-3 gap-1'>
    <div (click)="onThemeChange(false)"
        class='rounded-md bg-slate-200 hover:bg-slate-300 dark:bg-zinc-800 dark:hover:bg-zinc-700 p-2 flex items-center justify-center transition duration-200'>
        <div class='rounded-full h-8 w-8 bg-slate-100'></div>
    </div>
    <div (click)="onThemeChange(true)"
        class='rounded-md bg-slate-200 hover:bg-slate-300 dark:bg-zinc-800 dark:hover:bg-zinc-700 p-2 flex items-center justify-center transition duration-200'>
        <div class='rounded-full h-8 w-8 bg-zinc-900'></div>
    </div>
</div>