# Ignore the bin and obj folders
bin/
obj/

# Ignore Visual Studio configuration files
.vscode/
.vs/

# Ignore .user files
*.user

# Ignore .suo and .sln files
*.suo
*.sln

# Ignore NuGet cache and temporary files
packages/
*.lock
*.exe

# Ignore solution configuration files
## .suo and .user files are explicitly mentioned above
## If you need to add other configuration files, specify them here

# Ignore temporary files and folders
[Tt]emp/
[Oo]bj/
[Ii]ntermediate/
[Bb]in/
[Bb]inaries/
[Ll]og/
[Ll]ogs/

# Ignore log and error report files
*.log
*.log.*
*.rpt

# Ignore Visual Studio Code-related files
.vscode/
.vscodeignore

# Ignore localization files
*.pot
*.po
*.mo

# Ignore Rider-related files
.idea/
.idea/
*.sln.iml

# Ignore backup and temporary files
*~
*.bak
*.swp

# Ignore macOS-specific files and folders
.DS_Store

# Ignore Windows-specific files and folders
Thumbs.db
desktop.ini

# Ignore files and folders created by various tools
__pycache__/
.ipynb_checkpoints/
node_modules/
jspm_packages/
bower_components/
