<div class="py-4 px-4 md:px-8 lg:px-10 grid grid-cols-[auto_1fr_auto] lg:grid-cols-[1fr_auto] gap-2">
    <button class="block w-full lg:hidden">
        <span class="material-symbols-rounded text-2xl"> menu </span>
    </button>
    <app-search></app-search>
    <div
        class='flex gap-2 items-center cursor-pointer font-semibold text-neutral-800 hover:text-purple-600 transition duration-300'>
        <img class="w-8 h-8 md:w-10 md:h-10 rounded-full" src="https://picsum.photos/200" alt="User" />
        <span class="hidden font-semibold lg:block">
            JohnDoe
        </span>
        <span class="material-symbols-rounded">
            keyboard_arrow_down
        </span>
    </div>
</div>