<div class='relative'>
    <div
        class="flex items-center gap-1 bg-gray-100 dark:bg-zinc-800 border border-gray-300 dark:border-zinc-700 rounded-full px-5">
        <input (input)='onSearch()' [(ngModel)]="searchInput" (focusout)='showResults = false'
            (focusin)='showResults = true' type="text"
            class="w-full px-2 py-3 lg:px-4 text-sm font-semibold text-neutral-900 bg-transparent"
            placeholder="Search by Origin, Category, Author..." required />
        <svg class="w-4 h-4 text-neutral-800 dark:text-zinc-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>
    </div>

    <div *ngIf="books.length !== 0 && showResults"
        class='absolute z-30 max-h-2/6 overflow-y-scroll bg-gray-100 dark:bg-zinc-800 border-gray-300 dark:border-zinc-700 rounded px-5 py-2 mt-1 w-full'>
        <a *ngFor="let book of books" routerLink='/books/{{book.id}}'>
            <div class='grid grid-cols-[auto_1fr] gap-2 py-2 border-b border-b-gray-300 dark:border-b-zinc-700'>
                <img [src]="book.image | imageNormalize"
                    class='object-cover h-[5rem] w-[3rem] rounded drop-shadow-lg mx-auto' alt="Book Cover">
                <div>
                    <h1 class='font-medium mb-1'>{{book.title}}</h1>
                    <p class='text-sm text-neutral-700 dark:text-neutral-300'>{{book.description}}</p>
                </div>
            </div>
        </a>
    </div>
</div>